<footer class="ph3 pv4 black bg-white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo Mark.svg" alt="27 Rosiers logo" class="db w2 center mb4 br0 footer-logo">

		</div>

		{{ partial "newsletter-form" . }}

		<div class="flex-ns tc mb3">

			<div class='center'>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
				</ul>
			</div>

		</div>

		<div class='tc'>
			<p class='center f6'>&copy; 27 Rosiers 2019 All rights reserved.{{ if .Params.terms}} &nbsp;&nbsp;&nbsp;&nbsp;<a href='{{ .Params.terms }}' target='_blank' class='no-underline'>Terms & Conditions</a>{{ end }}</p>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/app.js"></script>

</body>

</html>
