<footer class="ph3 pv4 black">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="27 Rosiers logo" class="db w4 center mb4 br0">

		</div>

		{{ partial "newsletter-form" . }}

		<div class="flex-ns tc">

			<div class='center'>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>

		<div class='tc'>
			<p class='center'>&copy; 27 Rosiers 2019 All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp; <a href='' target='_blank'>Terms & Conditions</a></p>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
