<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary tc">
        <h3 class="center b ttu lh-title white f6">
          {{.title}}
        </h3>
      </div>
      <div class="mw7 relative tc">
        {{ if .subtitle }}
        <h1 class="b center ttu white f1">
          {{.subtitle}}
        </h1>
        {{ end }}
      </div>
    </div>
  </div>
</div>
