<div class="bg-white">
  <div class="ph3 mw7 center middle-module">
    <div class="mhn2-ns">
      {{ range $index, $element := .midmodule }}
      {{ if modBool $index 2 }}
        <div class="w-100-ns flex-ns flex-reverse relative items-center">
      {{ else }}
        <div class="w-100-ns flex-ns margin-neg mobile-remove items-center relative">
          <div class="absolute product db-l dn">
            <img src='./img/product.png' />
          </div>
      {{ end }}
        <div class='w-100 w-40-ns f6 copy'>
          <h1 class="ttu f3">{{.heading}}<div class='border-dash-sm'></div></h1>
          <p class='f4'>{{.text}}</p>
        </div>
        <img src="{{.image}}" alt="" class="db w-100 w-60-ns">
      </div>
      {{ end }}
    </div>
  </div>
</div>
