<div class="mw5 center mb4">
	<p class='ttu tc f3'>Sign up for a chance to win a sample of 27 Rosiers product</p>

	<form id='email-subscribe' action="https://27rosiers.us20.list-manage.com/subscribe/post-json?u=5515835ac413922755bc370e0&amp;id=ad8758160e" method="get" class="flex-ns mb3 measure-narrow center">

	  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
	    <input type="text" id="email" placeholder="Your Email" class="w-100">
	    <label for="email">Your email</label>
	    <button class="custom-submit f3 raise" type="submit"><img src='./img/Arrow.svg' /></button>
	  </fieldset>


	</form>
</div>
