body {
	overflow-x: hidden;
}

p {
	line-height: 22px;
}

input, textarea {
	font-size: 14px;
}

textarea {
	border: 1px solid black;
	background-color: white;
}

input::placeholder {
	font-size: 14px;
}

input button {
	padding-top: 5px;
}

.f3 {
	line-height: 18px;
}

.short-text {
	padding-bottom: 50px;
}

.border-dash {
	border-top: 3px solid black;
	width: 20px;
	height: 27px;
	position: relative;
	top: 5px;
	border-radius: 1px;
}

.border-dash-sm {
	border-top: 2px solid black;
	width: 10px;
	height: 15px;
	position: relative;
	top: 5px;
	border-radius: 1px;
	margin-bottom: -5px;
	margin-top: -5px;
}

.border-dash-sm.margin-space {
	margin-top: 0;
}

.product {
	right: -8%;
	bottom: -25%;
}

.min-display {
	min-height: 300px;
}

/* HERO STYLES */
.main-logo {
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
}

.border-line {
	left: 0;
	width: 50%;
	height: 20%;
	margin-top: 80px;
	border-right: 1px solid white;
}
/* END HERO STYLES */

/* VIDEO PLAYER STYLES */
#video-overlay {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1; 
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	opacity: 0;
	transition: 0.25s all ease-in-out;
}

#video-overlay.active {
	z-index: 10;
	opacity: 1;
}

#close-video {
	top: 0;
	right: 25px;
	cursor: pointer;
	color: white;
}

.play-button {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.play-out {
	transition: 0.25s all ease-in-out;
	background-color: white;
	border-radius: 45px;
	padding: 6px 14px 5px 28px;
	width: 70px;
	height: 70px;
	display: flex;
}

.video-holder:hover .play-out {
	background-color: black;
}

.video-holder img {
	transition: 0.25s all ease-in-out;
	filter: invert(0);
	width: 23px;
}

.video-holder:hover img {
	filter: invert(1);
}

.video-holder {
	width: 90%;
	height: 45vw;
	z-index: 9;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.video {
	top: -70px;
	margin-bottom: -70px;
}
/* END VIDEO PLAYER STYLES */

/* SLICK STYLING */
.slider .slick-track {
	display: flex;
}

.slick-track .slick-slide {
	height: auto;
}

.slick-dots {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	font-size: 0;
	padding: 4px;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 25px;
	margin: 0 5px;
}

.slick-dots li.slick-active button {
	background-color: black;
}

.slick-prev, .slick-next {
	position: absolute;
	height: 100%;
	font-size: 42px;
	top: 0;
	background-color: var(--off-white);
}

.slick-prev {
	left: -20px;
}

.slick-next {
	right: -20px;
}
/* END SLICK STYLES */

/* CAROUSEL CARD STYLING */
.card {
	height: 100%;
	background-color: white;
	margin: 5px;
	padding: 10% 10% 20%;
}

.card h1 {
	padding: 15px 0 35px;
}

.card .date {
	position: absolute;
	bottom: 0;
	opacity: 0.5;
}
/* END CAROUSEL CARD STYLES */

/* REVIEW FORM STYLES */
.submit-button {
	background-color: #D5DFD2;
	border-radius: 5px;
	padding: 10px 45px;
	display: inline-block;
	cursor: pointer;
	transition: 0.25s all ease-in-out;
}

.submit-button:hover {
	filter: invert(1);
}
/* END FORM STYLES */

.margin-neg {
	margin-top: -150px;
}

.padding-bottom-add {
	padding-bottom: 150px;
}

@media (max-width: 639px) {
	.card .date {
		margin-bottom: 40px;
	}
	.carousel {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.mobile-remove {
		margin-top: 0;
	}

	.mobile-margin {
		margin-top: 20px;
	}

	.hero-copy {
		position: relative;
		bottom: -50px;
	}

	.copy {
		padding: 30px 0;
	}

	.remove-pv {
		padding-top: 0;
		padding-bottom: 0;
	}

	footer.black {
		padding-top: 45px;
	}
}

/* NOT MOBILE ONLY STYLES */
@media (--breakpoint-not-small) {
	.slick-dots {
		padding-top: 25px;
		padding-bottom: 10px;
	}
	.short-text {
		padding-top: 130px;
		padding-bottom: 80px;
	}

	.footer-logo {
		width: 40px;
	}

	input, textarea {
		font-size: 18px;
	}

	input::placeholder {
		font-size: 18px;
	}

	p {
		line-height: 26px;
	}

	.f3 {
		line-height: 28px;
	}

	.border-line {
		margin-top: 45px;
	}

	.video {
		top: -150px;
		margin-bottom: -150px;
	}

	.video-holder {
		width: 620px;
		height: 350px;
	}

	.middle-module .flex-reverse {
		z-index: 5;
	}

	.middle-module .flex-reverse .w-40-ns {
		margin-top: -10%;
		margin-bottom: 0;
		margin-left: 30px;
	}

	.middle-module .w-40-ns {
		margin-bottom: -10%;
		margin-top: 0;
		margin-right: 30px;
	}
}
/* END NOT MOBILE ONLY STYLES */