/* HERO STYLES */
.main-logo {
	top: 30px;
	width: 100%;
	text-align: center;
}

.border-line {
	left: 0;
	width: 50%;
	height: 20%;
	margin-top: 45px;
	border-right: 1px solid white;
}
/* END HERO STYLES */

/* VIDEO PLAYER STYLES */
#video-overlay {
	width: 100%;
	height: 100%;
	z-index: 0; 
	top: 0;
	left: 0;
}

#video-overlay.active {
	z-index: 10;
}

.play-button {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.play-out {
	transition: 0.25s all ease-in-out;
	background-color: white;
	border-radius: 25px;
	padding: 6px 14px 5px 17px;
}

.video-holder:hover .play-out {
	background-color: black;
}

.video-holder img {
	transition: 0.25s all ease-in-out;
	filter: invert(0);
}

.video-holder:hover img {
	filter: invert(1);
}

.video-holder {
	width: 90%;
	height: 45vw;
	z-index: 9;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.video {
	top: -115px;
	margin-bottom: -115px;
}
/* END VIDEO PLAYER STYLES */

/* SLICK STYLING */
.slider .slick-track {
	display: flex;
}

.slick-track .slick-slide {
	height: auto;
}

.slick-dots {
	text-align: center;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	font-size: 0;
	padding: 5px;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 25px;
	margin: 0 5px;
}

.slick-dots li.slick-active button {
	background-color: black;
}

.slick-prev, .slick-next {
	position: absolute;
	height: 100%;
	font-size: 42px;
	top: 0;
	background-color: var(--off-white);
}

.slick-prev {
	left: -20px;
}

.slick-next {
	right: -20px;
}
/* END SLICK STYLES */

/* CAROUSEL CARD STYLING */
.card {
	height: 100%;
	background-color: white;
	margin: 5px;
	padding: 10% 10% 20%;
}

.card h1 {
	padding: 15px 0 35px;
}

.card .date {
	position: absolute;
	bottom: 0;
	opacity: 0.5;
}
/* END CAROUSEL CARD STYLES */

/* NOT MOBILE ONLY STYLES */
@media (--breakpoint-not-small) {
	.video-holder {
		width: 500px;
		height: 265px;
	}

	.margin-neg {
		margin-top: -150px;
	}

	.padding-bottom-add {
		padding-bottom: 150px;
	}

	.middle-module .flex-reverse .w-40-ns {
		margin-top: -10%;
		margin-bottom: 0;
		margin-left: 10px;
	}

	.middle-module .w-40-ns {
		margin-bottom: -10%;
		margin-top: 0;
		margin-right: 10px;
	}
}
/* END NOT MOBILE ONLY STYLES */