{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "mobileImage" .Params.mobile "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "video" .Params.video}}

{{ partial "intro" .Params.intro}}

{{ partial "image-grid" .Params }}

{{ partial "mid-module" .Params }}

{{ partial "short-text" .Params.blurb}}

{{ partial "review-carousel" .Params }}

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

{{ end }}
